/RNAfold.csv
/cdhit80_0320_loc75_NC_RNAfold_bpRNA.csv
/cdhit80_0320_loc75_NC_RNAfold_bpRNA_train_x.npy
/cdhit80_0320_loc75_NC_RNAfold_bpRNA_train_y.npy
/cdhit80_0320_loc75_NC_RNAfold_bpRNA_test_x.npy
/cdhit80_0320_loc75_NC_RNAfold_bpRNA_test_y.npy
/svme500_cdhit80_0320_loc75_NC_RNAfold_bpRNA_train.csv
/esvms200e500_cdhit80_0320_loc75_NC_RNAfold_bpRNA_pair_train.csv
/cdhit80_0320_loc75_NC_SeqID_RNAfold_bpRNA_train_x.npy
/cdhit80_0320_loc75_NC_SeqID_RNAfold_bpRNA_train_y.npy
/cdhit80_0320_loc75_NC_SeqID_RNAfold_bpRNA_test_x.npy
/cdhit80_0320_loc75_NC_SeqID_RNAfold_bpRNA_test_y.npy
/RNAfold_bpRNA.csv
/svme500_cdhit80_0320_loc75_NC_SeqID_RNAfold_bpRNA_train.csv
/cdhit80_0320_loc75_NC_RNAfold_bpRNA_train.csv
/esvms200e500_cdhit80_0320_loc75_NC_SeqID_RNAfold_bpRNA_train.csv
