/nuc_lncRNA__cyto_lncRNA_train_x_fold0.npy
/nuc_lncRNA__cyto_lncRNA_train_y_fold0.npy
/nuc_lncRNA__cyto_lncRNA_valid_x_fold0.npy
/nuc_lncRNA__cyto_lncRNA_valid_y_fold0.npy
/nuc_lncRNA__cyto_lncRNA_train_x_fold1.npy
/nuc_lncRNA__cyto_lncRNA_train_y_fold1.npy
/nuc_lncRNA__cyto_lncRNA_valid_x_fold1.npy
/nuc_lncRNA__cyto_lncRNA_valid_y_fold1.npy
/nuc_lncRNA__cyto_lncRNA_train_x_fold2.npy
/nuc_lncRNA__cyto_lncRNA_train_y_fold2.npy
/nuc_lncRNA__cyto_lncRNA_valid_x_fold2.npy
/nuc_lncRNA__cyto_lncRNA_valid_y_fold2.npy
/nuc_lncRNA__cyto_lncRNA_train_x_fold3.npy
/nuc_lncRNA__cyto_lncRNA_train_y_fold3.npy
/nuc_lncRNA__cyto_lncRNA_valid_x_fold3.npy
/nuc_lncRNA__cyto_lncRNA_valid_y_fold3.npy
/nuc_lncRNA__cyto_lncRNA_train_x_fold4.npy
/nuc_lncRNA__cyto_lncRNA_train_y_fold4.npy
/nuc_lncRNA__cyto_lncRNA_valid_x_fold4.npy
/nuc_lncRNA__cyto_lncRNA_valid_y_fold4.npy
/nuc_lncRNA__cyto_lncRNA_train_x_fold5.npy
/nuc_lncRNA__cyto_lncRNA_train_y_fold5.npy
/nuc_lncRNA__cyto_lncRNA_valid_x_fold5.npy
/nuc_lncRNA__cyto_lncRNA_valid_y_fold5.npy
/nuc_lncRNA__cyto_lncRNA_train_x_fold6.npy
/nuc_lncRNA__cyto_lncRNA_train_y_fold6.npy
/nuc_lncRNA__cyto_lncRNA_valid_x_fold6.npy
/nuc_lncRNA__cyto_lncRNA_valid_y_fold6.npy
/nuc_lncRNA__cyto_lncRNA_train_x_fold7.npy
/nuc_lncRNA__cyto_lncRNA_train_y_fold7.npy
/nuc_lncRNA__cyto_lncRNA_valid_x_fold7.npy
/nuc_lncRNA__cyto_lncRNA_valid_y_fold7.npy
/nuc_lncRNA__cyto_lncRNA_train_x_fold8.npy
/nuc_lncRNA__cyto_lncRNA_train_y_fold8.npy
/nuc_lncRNA__cyto_lncRNA_valid_x_fold8.npy
/nuc_lncRNA__cyto_lncRNA_valid_y_fold8.npy
/nuc_lncRNA__cyto_lncRNA_train_x_fold9.npy
/nuc_lncRNA__cyto_lncRNA_train_y_fold9.npy
/nuc_lncRNA__cyto_lncRNA_valid_x_fold9.npy
/nuc_lncRNA__cyto_lncRNA_valid_y_fold9.npy
/nuc_mRNA__cyto_mRNA_train_x_fold0.npy
/nuc_mRNA__cyto_mRNA_train_y_fold0.npy
/nuc_mRNA__cyto_mRNA_valid_x_fold0.npy
/nuc_mRNA__cyto_mRNA_valid_y_fold0.npy
/nuc_mRNA__cyto_mRNA_train_x_fold1.npy
/nuc_mRNA__cyto_mRNA_train_y_fold1.npy
/nuc_mRNA__cyto_mRNA_valid_x_fold1.npy
/nuc_mRNA__cyto_mRNA_valid_y_fold1.npy
/nuc_mRNA__cyto_mRNA_train_x_fold2.npy
/nuc_mRNA__cyto_mRNA_train_y_fold2.npy
/nuc_mRNA__cyto_mRNA_valid_x_fold2.npy
/nuc_mRNA__cyto_mRNA_valid_y_fold2.npy
/nuc_mRNA__cyto_mRNA_train_x_fold3.npy
/nuc_mRNA__cyto_mRNA_train_y_fold3.npy
/nuc_mRNA__cyto_mRNA_valid_x_fold3.npy
/nuc_mRNA__cyto_mRNA_valid_y_fold3.npy
/nuc_mRNA__cyto_mRNA_train_x_fold4.npy
/nuc_mRNA__cyto_mRNA_train_y_fold4.npy
/nuc_mRNA__cyto_mRNA_valid_x_fold4.npy
/nuc_mRNA__cyto_mRNA_valid_y_fold4.npy
/nuc_mRNA__cyto_mRNA_train_x_fold5.npy
/nuc_mRNA__cyto_mRNA_train_y_fold5.npy
/nuc_mRNA__cyto_mRNA_valid_x_fold5.npy
/nuc_mRNA__cyto_mRNA_valid_y_fold5.npy
/nuc_mRNA__cyto_mRNA_train_x_fold6.npy
/nuc_mRNA__cyto_mRNA_train_y_fold6.npy
/nuc_mRNA__cyto_mRNA_valid_x_fold6.npy
/nuc_mRNA__cyto_mRNA_valid_y_fold6.npy
/nuc_mRNA__cyto_mRNA_train_x_fold7.npy
/nuc_mRNA__cyto_mRNA_train_y_fold7.npy
/nuc_mRNA__cyto_mRNA_valid_x_fold7.npy
/nuc_mRNA__cyto_mRNA_valid_y_fold7.npy
/nuc_mRNA__cyto_mRNA_train_x_fold8.npy
/nuc_mRNA__cyto_mRNA_train_y_fold8.npy
/nuc_mRNA__cyto_mRNA_valid_x_fold8.npy
/nuc_mRNA__cyto_mRNA_valid_y_fold8.npy
/nuc_mRNA__cyto_mRNA_train_x_fold9.npy
/nuc_mRNA__cyto_mRNA_train_y_fold9.npy
/nuc_mRNA__cyto_mRNA_valid_x_fold9.npy
/nuc_mRNA__cyto_mRNA_valid_y_fold9.npy
