aiohttp==3.7.4.post0
aiohttp-retry==2.4.6
appdirs==1.4.4
async-timeout==3.0.1
asyncssh==2.13.0
atpublic==2.3
attrs @ file:///opt/conda/conda-bld/attrs_1642510447205/work
backports.functools-lru-cache @ file:///tmp/build/80754af9/backports.functools_lru_cache_1618170165463/work
bcrypt==4.0.1
bleach @ file:///home/conda/feedstock_root/build_artifacts/bleach_1629908509068/work
cached-property==1.5.2
certifi==2021.10.8
cffi==1.15.0
chardet==4.0.0
charset-normalizer==2.0.7
cloudpickle==2.1.0
colorama==0.4.4
commonmark==0.9.1
configobj==5.0.6
contextvars==2.4
cryptography==39.0.0
cycler==0.11.0
daal==2021.5.3
daal4py==2021.5.3
dataclasses==0.8
deap==1.3.3
decorator==4.4.2
defusedxml @ file:///tmp/build/80754af9/defusedxml_1615228127516/work
dictdiffer==0.9.0
diskcache==5.2.1
distro==1.6.0
dpath==2.0.5
dulwich==0.20.25
dvc==2.8.1
entrypoints==0.3
et-xmlfile==1.1.0
flatten-dict==0.4.2
flufl.lock==3.2
fsspec==2021.10.1
ftfy==6.0.3
funcy==1.16
future==0.18.2
gitdb==4.0.9
GitPython==3.1.18
grandalf==0.6
idna==3.3
idna-ssl==1.1.0
imbalanced-learn==0.8.1
imblearn==0.0
immutables==0.16
importlib-metadata @ file:///home/conda/feedstock_root/build_artifacts/importlib-metadata_1630267465156/work
ipykernel @ file:///home/conda/feedstock_root/build_artifacts/ipykernel_1620912934572/work/dist/ipykernel-5.5.5-py3-none-any.whl
ipython==5.8.0
ipython-genutils @ file:///tmp/build/80754af9/ipython_genutils_1606773439826/work
ipywidgets @ file:///home/conda/feedstock_root/build_artifacts/ipywidgets_1631590360471/work
Jinja2 @ file:///opt/conda/conda-bld/jinja2_1647436528585/work
joblib==1.1.0
jsonschema @ file:///Users/ktietz/demo/mc3/conda-bld/jsonschema_1630511932244/work
jupyter @ file:///home/conda/feedstock_root/build_artifacts/jupyter_1611871900595/work
jupyter-client==5.3.4
jupyter-console==5.2.0
jupyter-core==4.9.1
jupyterlab-widgets @ file:///tmp/build/80754af9/jupyterlab_widgets_1609884341231/work
kiwisolver==1.3.1
libsvm-official==3.25.0
lineedit==0.1.6
llvmlite==0.36.0
mailchecker==4.0.13
MarkupSafe @ file:///tmp/build/80754af9/markupsafe_1621528150516/work
matplotlib==3.3.4
mistune==0.8.4
multidict==5.2.0
nanotime==0.5.2
nbconvert @ file:///home/conda/feedstock_root/build_artifacts/nbconvert_1631125953237/work
nbformat @ file:///home/conda/feedstock_root/build_artifacts/nbformat_1617383142101/work
networkx==2.5.1
niapy==2.0.4
notebook @ file:///home/conda/feedstock_root/build_artifacts/notebook_1628216313137/work
numba==0.53.1
numpy==1.19.5
openpyxl==3.1.2
Optunity==1.1.1
packaging @ file:///home/conda/feedstock_root/build_artifacts/packaging_1625323647219/work
pandas==1.1.5
pandocfilters @ file:///opt/conda/conda-bld/pandocfilters_1643405455980/work
pathspec==0.8.1
patsy==0.5.2
pexpect @ file:///tmp/build/80754af9/pexpect_1605563209008/work
phonenumbers==8.12.35
pickleshare @ file:///tmp/build/80754af9/pickleshare_1606932040724/work
Pillow==8.4.0
ply==3.11
prometheus-client @ file:///opt/conda/conda-bld/prometheus_client_1643788673601/work
prompt-toolkit==1.0.15
psutil==5.8.0
ptyprocess @ file:///tmp/build/80754af9/ptyprocess_1609355006118/work/dist/ptyprocess-0.7.0-py2.py3-none-any.whl
pyasn1==0.4.8
pycparser==2.20
pydot==1.4.2
pygit2==1.6.1
Pygments @ file:///opt/conda/conda-bld/pygments_1644249106324/work
pygtrie==2.4.2
pyparsing==2.4.7
PyQt5==5.12.3
PyQt5_sip==4.19.18
PyQtChart==5.12
PyQtWebEngine==5.12.1
pyrsistent @ file:///home/conda/feedstock_root/build_artifacts/pyrsistent_1610146795286/work
python-benedict==0.24.3
python-dateutil @ file:///tmp/build/80754af9/python-dateutil_1626374649649/work
python-fsutil==0.5.0
python-slugify==5.0.2
pytz==2021.3
PyYAML==6.0
pyzmq @ file:///tmp/build/80754af9/pyzmq_1628268400816/work
qtconsole @ file:///home/conda/feedstock_root/build_artifacts/qtconsole_1636431521760/work
QtPy @ file:///opt/conda/conda-bld/qtpy_1649073884068/work
radian==0.5.13
rchitect==0.3.35
ReliefF==0.1.2
requests==2.26.0
rich==10.12.0
ruamel.yaml==0.17.16
ruamel.yaml.clib==0.2.6
scikit-learn==0.24.2
scikit-learn-intelex==2021.5.3
scipy==1.5.4
seaborn==0.11.2
Send2Trash @ file:///tmp/build/80754af9/send2trash_1632406701022/work
shap==0.41.0
shortuuid==1.0.1
shtab==1.4.2
simplegeneric==0.8.1
six @ file:///tmp/build/80754af9/six_1644875935023/work
sklearn==0.0
slicer==0.0.7
smmap==5.0.0
sshfs==2022.6.0
statsmodels==0.12.2
tabulate==0.8.9
tbb==2021.8.0
terminado==0.9.4
testpath @ file:///tmp/build/80754af9/testpath_1624638946665/work
text-unidecode==1.3
threadpoolctl==3.0.0
toml==0.10.2
torch==1.10.0
tornado @ file:///tmp/build/80754af9/tornado_1606942266872/work
tqdm==4.62.3
traitlets @ file:///home/conda/feedstock_root/build_artifacts/traitlets_1631041982274/work
typing-extensions @ file:///home/conda/feedstock_root/build_artifacts/typing_extensions_1632313171031/work
urllib3==1.26.7
voluptuous==0.12.2
wcwidth @ file:///Users/ktietz/demo/mc3/conda-bld/wcwidth_1629357192024/work
webencodings==0.5.1
widgetsnbextension @ file:///home/conda/feedstock_root/build_artifacts/widgetsnbextension_1605475531705/work
xgboost==1.5.2
xmltodict==0.12.0
yarl==1.7.0
zc.lockfile==2.0
zipp @ file:///home/conda/feedstock_root/build_artifacts/zipp_1633302054558/work
