/k1p4nor0.npy
/k1p4nor1.npy
/k1p4nor2.npy
/k1p4nor3.npy
/k1p6nor0.npy
/k1p6nor1.npy
/k1p6nor2.npy
/k1p6nor3.npy
/k1p8nor0.npy
/k1p8nor1.npy
/k1p8nor2.npy
/k1p8nor3.npy
/k1p10nor0.npy
/k1p10nor1.npy
/k1p10nor2.npy
/k1p10nor3.npy
/k2p4nor0.npy
/k2p4nor1.npy
/k2p4nor2.npy
/k2p4nor3.npy
/k2p6nor0.npy
/k2p6nor1.npy
/k2p6nor2.npy
/k2p6nor3.npy
/k2p8nor0.npy
/k2p8nor1.npy
/k2p8nor2.npy
/k2p8nor3.npy
/k2p10nor0.npy
/k2p10nor1.npy
/k2p10nor2.npy
/k2p10nor3.npy
/k3p4nor0.npy
/k3p4nor1.npy
/k3p4nor2.npy
/k3p4nor3.npy
/k3p6nor0.npy
/k3p6nor1.npy
/k3p6nor2.npy
/k3p6nor3.npy
/k3p8nor0.npy
/k3p8nor1.npy
/k3p8nor2.npy
/k3p8nor3.npy
/k3p10nor0.npy
/k3p10nor1.npy
/k3p10nor2.npy
/k3p10nor3.npy
/k4p4nor0.npy
/k4p4nor1.npy
/k4p4nor2.npy
/k4p4nor3.npy
/k4p6nor0.npy
/k4p6nor1.npy
/k4p6nor2.npy
/k4p6nor3.npy
/k4p8nor0.npy
/k4p8nor1.npy
/k4p8nor2.npy
/k4p8nor3.npy
/k4p10nor0.npy
/k4p10nor1.npy
/k4p10nor2.npy
/k4p10nor3.npy
/k2p10nor3.csv
/k2p10nor2.csv
/k3p10nor2.csv
/k3p10nor3.csv
