/PC-PseDNC-General_all_index_svmf10p4e512.json
/DAC_lag2_svmf10p4e512.json
/DCC_lag1_svmf10p4e512.json
/DACC_lag1_svmf10p4e512.json
/Kmer_k4_svmf10p4e512.json
/SC-PseDNC-General_svmf10p4e512.json
/DCC_lag2_svmf10p4e512.json
/DACC_lag3_svmf10p4e512.json
/Kmer_k2_svmf10p4e512.json
/Kmer_k3_svmf10p4e512.json
/MAC_lag2_svmf10p4e512.json
/DACC_lag2_svmf10p4e512.json
/PC-PseDNC-General_svmf10p4e512.json
/MAC_lag3_svmf10p4e512.json
/NMBAC_lag1_svmf10p4e512.json
/NMBAC_lag2_svmf10p4e512.json
/DAC_lag3_svmf10p4e512.json
/SC-PseDNC-General_all_index_svmf10p4e512.json
/Kmer_k1_svmf10p4e512.json
/NMBAC_lag3_svmf10p4e512.json
/MAC_lag1_svmf10p4e512.json
/DAC_lag1_svmf10p4e512.json
/Subsequence_k2_svmf10p4e512.json
