/benchmark_PseDPC_train.npy
/benchmark_PseSSC_train.npy
/benchmark_Triplet_train.npy
/for_sc_train_y.npy
/train_y.npy
/benchmark_DCC_lag1_train.npy
/benchmark_DCC_lag2_train.npy
/benchmark_DCC_lag3_train.npy
/benchmark_DAC_lag1_train.npy
/benchmark_DAC_lag2_train.npy
/benchmark_DAC_lag3_train.npy
/benchmark_DACC_lag3_train.npy
/benchmark_DACC_lag2_train.npy
/benchmark_DACC_lag1_train.npy
/benchmark_Kmer_k1_train.npy
/benchmark_Kmer_k2_train.npy
/benchmark_Kmer_k3_train.npy
/benchmark_Kmer_k4_train.npy
/benchmark_MAC_lag1_train.npy
/benchmark_MAC_lag2_train.npy
/benchmark_MAC_lag3_train.npy
/benchmark_Mismatch_k2_m1_train.npy
/benchmark_Mismatch_k3_m1_train.npy
/benchmark_Mismatch_k3_m2_train.npy
/benchmark_Mismatch_k4_m2_train.npy
/benchmark_Mismatch_k4_m1_train.npy
/benchmark_Mismatch_k4_m3_train.npy
/benchmark_NMBAC_lag1_train.npy
/benchmark_NMBAC_lag2_train.npy
/benchmark_NMBAC_lag3_train.npy
/benchmark_Subsequence_k1_train.npy
/benchmark_Subsequence_k2_train.npy
/benchmark_PC-PseDNC-General_train.npy
/benchmark_PC-PseDNC-General_all_index_train.npy
/benchmark_SC-PseDNC-General_all_index_train.npy
/benchmark_SC-PseDNC-General_train.npy
