/nuc_mRNA__cyto_mRNA__svm.pickle
/nuc_lncRNA__cyto_mRNA__svm.pickle
/nuc_lncRNA__cyto_lncRNA__cyto_mRNA__svm.pickle
/nuc_lncRNA__cyto_lncRNA__nuc_mRNA__cyto_mRNA__svm.pickle
/nuc_lncRNA__cyto_lncRNA__svm.pickle
/nuc_lncRNA__nuc_mRNA__cyto_mRNA__svm.pickle
