/k1p4nor0_train.npy
/k1p4nor1_train.npy
/k1p4nor2_train.npy
/k1p4nor3_train.npy
/k1p6nor0_train.npy
/k1p6nor1_train.npy
/k1p6nor2_train.npy
/k1p6nor3_train.npy
/k1p8nor0_train.npy
/k1p8nor1_train.npy
/k1p8nor2_train.npy
/k1p8nor3_train.npy
/k1p10nor0_train.npy
/k1p10nor1_train.npy
/k1p10nor2_train.npy
/k1p10nor3_train.npy
/k2p4nor0_train.npy
/k2p4nor1_train.npy
/k2p4nor2_train.npy
/k2p4nor3_train.npy
/k2p6nor0_train.npy
/k2p6nor1_train.npy
/k2p6nor2_train.npy
/k2p6nor3_train.npy
/k2p8nor0_train.npy
/k2p8nor1_train.npy
/k2p8nor2_train.npy
/k2p8nor3_train.npy
/k2p10nor0_train.npy
/k2p10nor1_train.npy
/k2p10nor2_train.npy
/k2p10nor3_train.npy
/k3p4nor0_train.npy
/k3p4nor1_train.npy
/k3p4nor2_train.npy
/k3p4nor3_train.npy
/k3p6nor0_train.npy
/k3p6nor1_train.npy
/k3p6nor2_train.npy
/k3p6nor3_train.npy
/k3p8nor0_train.npy
/k3p8nor1_train.npy
/k3p8nor2_train.npy
/k3p8nor3_train.npy
/k3p10nor0_train.npy
/k3p10nor1_train.npy
/k3p10nor2_train.npy
/k3p10nor3_train.npy
/k4p4nor0_train.npy
/k4p4nor1_train.npy
/k4p4nor2_train.npy
/k4p4nor3_train.npy
/k4p6nor0_train.npy
/k4p6nor1_train.npy
/k4p6nor2_train.npy
/k4p6nor3_train.npy
/k4p8nor0_train.npy
/k4p8nor1_train.npy
/k4p8nor2_train.npy
/k4p8nor3_train.npy
/k4p10nor0_train.npy
/k4p10nor1_train.npy
/k4p10nor2_train.npy
/k4p10nor3_train.npy
/k1p4nor0_train_2d.npy
/k1p4nor1_train_2d.npy
/k1p4nor2_train_2d.npy
/k1p4nor3_train_2d.npy
/k1p6nor0_train_2d.npy
/k1p6nor1_train_2d.npy
/k1p6nor2_train_2d.npy
/k1p6nor3_train_2d.npy
/k1p8nor0_train_2d.npy
/k1p8nor1_train_2d.npy
/k1p8nor2_train_2d.npy
/k1p8nor3_train_2d.npy
/k1p10nor0_train_2d.npy
/k1p10nor1_train_2d.npy
/k1p10nor2_train_2d.npy
/k1p10nor3_train_2d.npy
/k2p4nor0_train_2d.npy
/k2p4nor1_train_2d.npy
/k2p4nor2_train_2d.npy
/k2p4nor3_train_2d.npy
/k2p6nor0_train_2d.npy
/k2p6nor1_train_2d.npy
/k2p6nor2_train_2d.npy
/k2p6nor3_train_2d.npy
/k2p8nor0_train_2d.npy
/k2p8nor1_train_2d.npy
/k2p8nor2_train_2d.npy
/k2p8nor3_train_2d.npy
/k2p10nor0_train_2d.npy
/k2p10nor1_train_2d.npy
/k2p10nor2_train_2d.npy
/k2p10nor3_train_2d.npy
/k3p4nor0_train_2d.npy
/k3p4nor1_train_2d.npy
/k3p4nor2_train_2d.npy
/k3p4nor3_train_2d.npy
/k3p6nor0_train_2d.npy
/k3p6nor1_train_2d.npy
/k3p6nor2_train_2d.npy
/k3p6nor3_train_2d.npy
/k3p8nor0_train_2d.npy
/k3p8nor1_train_2d.npy
/k3p8nor2_train_2d.npy
/k3p8nor3_train_2d.npy
/k3p10nor0_train_2d.npy
/k3p10nor1_train_2d.npy
/k3p10nor2_train_2d.npy
/k3p10nor3_train_2d.npy
/k4p4nor0_train_2d.npy
/k4p4nor1_train_2d.npy
/k4p4nor2_train_2d.npy
/k4p4nor3_train_2d.npy
/k4p6nor0_train_2d.npy
/k4p6nor1_train_2d.npy
/k4p6nor2_train_2d.npy
/k4p6nor3_train_2d.npy
/k4p8nor0_train_2d.npy
/k4p8nor1_train_2d.npy
/k4p8nor2_train_2d.npy
/k4p8nor3_train_2d.npy
/k4p10nor0_train_2d.npy
/k4p10nor1_train_2d.npy
/k4p10nor2_train_2d.npy
/k4p10nor3_train_2d.npy
