/lncRNA.fasta (chr1_22,X,Y only)
/jand_not_find_refseq.txt
/cdhit80_0320_loc75_NC.fasta
/benchmark_cyto.out
/benchmark_cyto_aucg.out
/benchmark_nuc_aucg.out
/benchmark_nuc.out
/jand_benchmark_loc.csv
/mRNA_in_APEX.csv
