/ensembl__merge__seq__RBPpred__RBPPWM_10-3_or__fold9.pickle
/ensembl__merge__seq__RBPpred__RBPPWM_10-3_or__fold8.pickle
/ensembl__merge__seq__RBPpred__RBPPWM_10-3_or__fold2.pickle
/ensembl__merge__seq__RBPpred__RBPPWM_10-3_or__fold4.pickle
/ensembl__merge__seq__RBPpred__RBPPWM_10-3_or__fold6.pickle
/ensembl__merge__seq__RBPpred__RBPPWM_10-3_or__fold3.pickle
/ensembl__merge__seq__RBPpred__RBPPWM_10-3_or__fold1.pickle
/ensembl__merge__seq__RBPpred__RBPPWM_10-3_or__fold5.pickle
/ensembl__merge__seq__RBPpred__RBPPWM_10-3_or__fold7.pickle
/ensembl__merge__seq__RBPpred__RBPPWM_10-3_or__fold0.pickle
