/train_y_id.npy
/train_y.npy
/train_x.npy
/train_binary_x.npy
/train_v1_x.npy
/train__10-3__x.npy
/train_binary__10-3__x.npy
/train__10-4__x.npy
/train_binary__10-4__x.npy
/train__10-5__x.npy
/train_binary__10-5__x.npy
/train__10-6__x.npy
/train_binary__10-6__x.npy
/train_log2__10-3__x.npy
/train_log2__10-4__x.npy
/train_log2__10-5__x.npy
/train_log2__10-6__x.npy
/train_-log10__10-3__x.npy
/train_-log10__10-4__x.npy
/train_-log10__10-5__x.npy
/train_-log10__10-6__x.npy
