/loc.npy
/rbp_binary.npy
/ensembl_RBPeclip_model__has_loc_predict.npy
/ensembl_RBPeclip_model__has_loc_predict_proba.npy
/ensembl_non-RBPeclip__loc.npy
/ensembl_non-RBPeclip__model_predict_proba.npy
/ensembl_non-RBPeclip__model_predict__trian_cutoff.npy
/RBP_eclip_has_non__predict_proba.npy
/RBP_eclip_has_non__predict.npy
/RBP_eclip_has_non__y.npy
/ensembl_RBPeclip_model__has_loc__y.npy
/ensembl_RBPeclip_model__has_loc_predict.csv
/ensembl_RBPeclip_model__has_loc_predict_proba.csv
/ensembl_RBPeclip_model__has_loc_predict__train_cutoff.csv
/ensembl_RBPeclip_model__has_loc_predict__train_cutoff.npy
/RBP_eclip__y.npy
/RBP_eclip__predict.npy
/RBP_eclip__predict_train_cutoff.npy
/RBP_eclip__predict_proba.npy
