/cdhit80_k1_linear10.csv
/cdhit80_k1_linear10_loc75.csv
/cdhit80_k1_linear10_loc75_train.csv
/cdhit80_k1_linear10_loc75_test.csv
/cdhit80_k4_linear10.csv
/cdhit80_k4_linear10_loc75.csv
/cdhit80_k4_linear10_loc75_train.csv
/cdhit80_k4_linear10_loc75_test.csv
/cdhit80_k4_vocab.npy
/cdhit80_k3_vocab.npy
/cdhit80_k3_linear10.csv
/cdhit80_k2_vocab.npy
/cdhit80_k2_linear10.csv
/cdhit80_k2_linear10_loc75.csv
/cdhit80_k3_linear10_loc75.csv
/cdhit80_k2_linear10_loc75_train.csv
/cdhit80_k2_linear10_loc75_test.csv
/cdhit80_k3_linear10_loc75_train.csv
/cdhit80_k3_linear10_loc75_test.csv
/cdhit80_k1_vocab.npy
/cdhit80_k1_linear10_norDL_loc75_test.csv
/cdhit80_k1_linear10_norDL_loc75_train.csv
/cdhit80_k1_linear10_norDL_loc75.csv
/cdhit80_k1_linear10_norDL.csv
/cdhit80_k2_linear10_norDL_loc75_test.csv
/cdhit80_k2_linear10_norDL_loc75_train.csv
/cdhit80_k2_linear10_norDL_loc75.csv
/cdhit80_k2_linear10_norDL.csv
/cdhit80_k3_linear10_norDL.csv
/cdhit80_k1_linear10_norL.csv
/cdhit80_k1_linear10_norL_loc75.csv
