/k3_power10.npy
/k2_vocab.npy
/k3_vocab.npy
/cdhit80_data_seq_loc75_train.csv
/k1_power10.npy
/k2_power10.npy
/cdhit80_data_seq_loc75.csv
/cdhit80_data_seq_loc75_test.csv
/k4_power10.npy
/k4_vocab.npy
/k1_vocab.npy
/data_y.npy
