/esvms50_v4__cutoff.csv
/esvms10_v4__cutoff.csv
/esvms10_v4__total_model_cutoff.csv
/esvms50_v4__total_model_cutoff.csv
/svm_v2__cutoff.csv
/svm_v2__cutoff_v1.csv
/esvms10_v4__cutoff_v1.csv
/lncRNA_esvms10_v4__mRNA_svm_v2__cutoff_v1__and.csv
/lncRNA_esvms10_v4__mRNA_svm_v2__cutoff_v1__or.csv
/esvms10_v4__dv_cutoff_v1.csv
/lncRNA_esvms10_v4__mRNA_svm_v2__dv_cutoff_v1.csv
/lncRNA_esvms10_v4__mRNA_svm_v2__cutoff_v1__high.csv
/lncRNA_esvms10_v4__mRNA_svm_v2__cutoff_v1__lnc_N_high.csv
/lncRNA_esvms10_v4__mRNA_svm_v2__dv__v1.csv
/lncRNA_svm_v3__mRNA_svm_v2__dv__v1.csv
/lncRNA_esvms10_v4__mRNA_svm_v2__cutoff_v2__lnc_N_high.csv
/lncRNA_esvms10_v4__mRNA_svm_v2__cutoff_v2__high.csv
/lncRNA_esvms10_v4__mRNA_svm_v2__cutoff_v3__high.csv
/lncRNA_esvms10_v4__mRNA_svm_v2__cutoff_v3__lnc_N_high.csv
/lnc_m_cutoff_v2_recall.png
/lnc_m_cutoff_v2_prec.png
/lnc_m_cutoff_v2_spec.png
/lnc_m_cutoff_v2_npv.png
/lnc_m_cutoff_v2_f1sc.png
/lnc_m_cutoff_v2_auroc.png
/lnc_m_cutoff_v2_high_recall.png
/lnc_m_cutoff_v2_high_prec.png
/lnc_m_cutoff_v2_high_spec.png
/lnc_m_cutoff_v2_high_npv.png
/lnc_m_cutoff_v2_high_f1sc.png
/lnc_m_cutoff_v2_high_auroc.png
/lncRNA_esvms10_v4__mRNA_svm_v2__cutoff_v4_percentage__lnc_N_high.csv
/lncRNA_esvms10_v4__mRNA_svm_v2__cutoff_v4_percentage__high.csv
/lncRNA_esvms10_v4__mRNA_svm_v2__cutoff_v4_percentage_v2__lnc_N_high.csv
/lncRNA_esvms10_v4__mRNA_svm_v2__cutoff_v4_percentage_v2__high.csv
