/logfile.txt
/k3_logfile.txt
/k2_logfile.txt
/k1_logfile.txt
/k1_nor_logfile.txt
/k1_noLen_logfile.txt
/k1_nor3_logfile.txt
/k2_nor3_logfile.txt
/k3_nor3_logfile.txt
/dle_score_logfile.txt
/k2_nor2_logfile.txt
/k1_nor2_logfile.txt
/dle_point_score_logfile.txt
/dle_kmer.txt
/dle_linear_logfile.txt
/dle_linear_1_logfile.txt
/dle_linear_score_logfile_1.txt
/dle_point_logfile.txt
/dle_linear4_logfile.txt
/dle_point_score_p8_logfile.txt
/dle_linear_score_1202_logfile.txt
/dle_linear_score_1202_183_logfile.txt
/dle_linear_score_1202_3423_logfile.txt
/dle_linear_score_1202_3423_logfile1.txt
/dle_linear_score_1202_k12_logfile.txt
