/benchmark_nuc_Kmer_k1.csv
/benchmark_nuc_Subsequence_k1.csv
/benchmark_nuc_Kmer_k2.csv
/benchmark_nuc_DAC_lag1.csv
/benchmark_nuc_DAC_lag2.csv
/benchmark_nuc_Mismatch_k2_m1.csv
/benchmark_nuc_Kmer_k3.csv
/benchmark_nuc_DAC_lag3.csv
/benchmark_nuc_Mismatch_k3_m1.csv
/benchmark_nuc_Mismatch_k3_m2.csv
/benchmark_nuc_Mismatch_k4_m3.csv
/benchmark_nuc_Mismatch_k4_m2.csv
/benchmark_nuc_Mismatch_k4_m1.csv
/benchmark_cyto_Kmer_k1.csv
/benchmark_cyto_Subsequence_k1.csv
/benchmark_cyto_Kmer_k2.csv
/benchmark_cyto_DAC_lag1.csv
/benchmark_cyto_DAC_lag2.csv
/benchmark_cyto_Mismatch_k2_m1.csv
/benchmark_cyto_Kmer_k3.csv
/benchmark_cyto_DAC_lag3.csv
/benchmark_cyto_Mismatch_k3_m2.csv
/benchmark_cyto_Mismatch_k3_m1.csv
/benchmark_cyto_Mismatch_k4_m1.csv
/benchmark_cyto_Mismatch_k4_m3.csv
/benchmark_cyto_Mismatch_k4_m2.csv
/benchmark_cyto_DCC_lag1.csv
/benchmark_cyto_DACC_lag1.csv
/benchmark_cyto_Kmer_k4.csv
/benchmark_cyto_DCC_lag2.csv
/benchmark_cyto_NMBAC_lag2.csv
/benchmark_cyto_NMBAC_lag1.csv
/benchmark_cyto_DACC_lag2.csv
/benchmark_cyto_DCC_lag3.csv
/benchmark_cyto_PC-PseDNC-General_all_index.csv
/benchmark_cyto_DACC_lag3.csv
/benchmark_cyto_MAC_lag3.csv
/benchmark_cyto_MAC_lag2.csv
/benchmark_cyto_MAC_lag1.csv
/benchmark_cyto_SC-PseDNC-General_all_index.csv
/benchmark_cyto_NMBAC_lag3.csv
/benchmark_nuc_PC-PseDNC-General_all_index.csv
/benchmark_nuc_DCC_lag1.csv
/benchmark_nuc_DACC_lag1.csv
/benchmark_cyto_Subsequence_k2.csv
/benchmark_nuc_SC-PseDNC-General_all_index.csv
/benchmark_nuc_Kmer_k4.csv
/benchmark_nuc_DCC_lag2.csv
/benchmark_nuc_DACC_lag2.csv
/benchmark_nuc_NMBAC_lag1.csv
/benchmark_nuc_NMBAC_lag3.csv
/benchmark_nuc_NMBAC_lag2.csv
/benchmark_nuc_DCC_lag3.csv
/benchmark_nuc_DACC_lag3.csv
/benchmark_nuc_MAC_lag1.csv
/benchmark_nuc_MAC_lag3.csv
/benchmark_nuc_MAC_lag2.csv
/benchmark_cyto_GAC_lag3.csv
/benchmark_cyto_GAC_lag2.csv
/benchmark_cyto_GAC_lag1.csv
/benchmark_nuc_Subsequence_k2.csv
/benchmark_cyto_Subsequence_k3.csv
/benchmark_cyto_PC-PseDNC-General.csv
/benchmark_cyto_SC-PseDNC-General.csv
/benchmark_nuc_PC-PseDNC-General.csv
/benchmark_nuc_SC-PseDNC-General.csv
/benchmark_Triplet.csv
/benchmark_PseSSC.csv
/benchmark_PseDPC.csv
