/k1n1nor0.npy
/k1n1nor1.npy
/k1n2nor0.npy
/k1n2nor1.npy
/k1n3nor0.npy
/k1n3nor1.npy
/k1n5nor0.npy
/k1n5nor1.npy
/k1n10nor0.npy
/k1n10nor1.npy
/k2n1nor0.npy
/k2n1nor1.npy
/k2n2nor0.npy
/k2n2nor1.npy
/k2n3nor0.npy
/k2n3nor1.npy
/k2n5nor0.npy
/k2n5nor1.npy
/k2n10nor0.npy
/k2n10nor1.npy
/k3n1nor0.npy
/k3n1nor1.npy
/k3n2nor0.npy
/k3n2nor1.npy
/k3n3nor0.npy
/k3n3nor1.npy
/k3n5nor0.npy
/k3n5nor1.npy
/k3n10nor0.npy
/k3n10nor1.npy
/k4n1nor0.npy
/k4n1nor1.npy
/k4n2nor0.npy
/k4n2nor1.npy
/k4n3nor0.npy
/k4n3nor1.npy
/k4n5nor0.npy
/k4n5nor1.npy
/k4n10nor0.npy
/k4n10nor1.npy
