/.DS_Store
/browseResult.txt
/All RNA subcellular localization data.txt
/All experimental RNA subcellular localization data.txt
/human_RNA_sequence.fasta
/human_RNA_sequence_cdhit80
/human_RNA_sequence_cdhit80.clstr
/human_RNA_sequence_sub.fasta
/human_RNA_sequence_sub_cdhit80
/human_RNA_sequence_sub_cdhit80.clstr
/cdhit80_merge.csv
/cdhit80_data.csv
/cdhit80_data_seq.csv
/cdhit80_data_seq_loc75.fasta
/cdhit80_data_seq_loc75_aucg.fasta
/cdhit80_data_seq_loc75_train.fasta
/cdhit80_data_seq_loc75_test.fasta
/Gene_ID_Nucleus_Cytosolic.csv
/Gene_ID_Nucleus_Cytosolic_0315.csv
/Gene_ID_Nucleus_Cytosolic_075_0316.csv
