/.DS_Store
/browseResult.txt
/All RNA subcellular localization data.txt
/All experimental RNA subcellular localization data.txt
/human_RNA_sequence.fasta
/human_RNA_sequence_cdhit80
/human_RNA_sequence_cdhit80.clstr
