/.DS_Store
/browseResult.txt
/All RNA subcellular localization data.txt
/All experimental RNA subcellular localization data.txt
/human_RNA_sequence.fasta
/human_RNA_sequence_cdhit80
/human_RNA_sequence_cdhit80.clstr
/human_RNA_sequence_sub.fasta
/human_RNA_sequence_sub_cdhit80
/human_RNA_sequence_sub_cdhit80.clstr
/cdhit80_merge.csv
/cdhit80_data.csv
/cdhit80_data_seq.csv
/cdhit80_data_seq_loc75.fasta
/cdhit80_data_seq_loc75_aucg.fasta
/cdhit80_data_seq_loc75_train.fasta
/cdhit80_data_seq_loc75_test.fasta
/Gene_ID_Nucleus_Cytosolic.csv
/Gene_ID_Nucleus_Cytosolic_0315.csv
/Gene_ID_Nucleus_Cytosolic_075_0316.csv
/human_RNA_sequence_cdhit_0320.clstr
/cdhit80_0320_loc75.csv
/train_idx_0320_loc75.npy
/cdhit80_0320_hasLoc_GeneName2idx.csv
/All RNA subcellular localization data_0318.txt
/human_RNA_sequence_of_cdhit.fasta
/Gene_ID_Nucleus_Cytosolic_Gene_Name.csv
/cdhit80_0320_GeneName_GeneID.csv
/human_RNA_sequence_cdhit_0320
/human_RNA_sequence_cdhit_0320.csv
/cdhit80_0320_loc75_NC.csv
/human_RNA_sequence.csv
/cdhit80_0320_id2name.csv
/human_RNA_sequence_cdhit80_0320_hasLoc.fasta
/test_idx_0320_loc75.npy
/human_RNA_sequence_cdhit80.csv
/train_y_0320_loc75.npy
/test_y_0320_loc75.npy
/train_y_0320_loc75_01.npy
/test_y_0320_loc75_01.npy
/test_idx_0320_loc75_hasloc.npy
/train_idx_0320_loc75_hasloc.npy
/cdhit80_0320_loc75_NC_SeqID.csv
/cdhit80_0320_loc75_NC_SeqID_train.csv
/cdhit80_0320_loc75_NC_SeqID_test.csv
/cdhit80_0320_loc75_NC_SeqID_train_y.npy
/cdhit80_0320_loc75_NC_SeqID_test_y.npy
/cdhit0320_RepresentRefseq2SubRefseq.csv
