/k1p8nor2n1_train.npy
/k1p8nor2n2_train.npy
/k1p8nor2n3_train.npy
/k1p8nor2n5_train.npy
/k1p8nor2n8_train.npy
/k1p8nor2n10_train.npy
/k1p8nor3n1_train.npy
/k1p8nor3n2_train.npy
/k1p8nor3n3_train.npy
/k1p8nor3n5_train.npy
/k1p8nor3n8_train.npy
/k1p8nor3n10_train.npy
/k1p10nor2n1_train.npy
/k1p10nor2n2_train.npy
/k1p10nor2n3_train.npy
/k1p10nor2n5_train.npy
/k1p10nor2n8_train.npy
/k1p10nor2n10_train.npy
/k1p10nor3n1_train.npy
/k1p10nor3n2_train.npy
/k1p10nor3n3_train.npy
/k1p10nor3n5_train.npy
/k1p10nor3n8_train.npy
/k1p10nor3n10_train.npy
/k2p8nor2n1_train.npy
/k2p8nor2n2_train.npy
/k2p8nor2n3_train.npy
/k2p8nor2n5_train.npy
/k2p8nor2n8_train.npy
/k2p8nor2n10_train.npy
/k2p8nor3n1_train.npy
/k2p8nor3n2_train.npy
/k2p8nor3n3_train.npy
/k2p8nor3n5_train.npy
/k2p8nor3n8_train.npy
/k2p8nor3n10_train.npy
/k2p10nor2n1_train.npy
/k2p10nor2n2_train.npy
/k2p10nor2n3_train.npy
/k2p10nor2n5_train.npy
/k2p10nor2n8_train.npy
/k2p10nor2n10_train.npy
/k2p10nor3n1_train.npy
/k2p10nor3n2_train.npy
/k2p10nor3n3_train.npy
/k2p10nor3n5_train.npy
/k2p10nor3n8_train.npy
/k2p10nor3n10_train.npy
/k3p8nor2n1_train.npy
/k3p8nor2n2_train.npy
/k3p8nor2n3_train.npy
/k3p8nor2n5_train.npy
/k3p8nor2n8_train.npy
/k3p8nor2n10_train.npy
/k3p8nor3n1_train.npy
/k3p8nor3n2_train.npy
/k3p8nor3n3_train.npy
/k3p8nor3n5_train.npy
/k3p8nor3n8_train.npy
/k3p8nor3n10_train.npy
/k3p10nor2n1_train.npy
/k3p10nor2n2_train.npy
/k3p10nor2n3_train.npy
/k3p10nor2n5_train.npy
/k3p10nor2n8_train.npy
/k3p10nor2n10_train.npy
/k3p10nor3n1_train.npy
/k3p10nor3n2_train.npy
/k3p10nor3n3_train.npy
/k3p10nor3n5_train.npy
/k3p10nor3n8_train.npy
/k3p10nor3n10_train.npy
/k4p8nor2n1_train.npy
/k4p8nor2n2_train.npy
/k4p8nor2n3_train.npy
/k4p8nor2n5_train.npy
/k4p8nor2n8_train.npy
/k4p8nor2n10_train.npy
/k4p8nor3n1_train.npy
/k4p8nor3n2_train.npy
/k4p8nor3n3_train.npy
/k4p8nor3n5_train.npy
/k4p8nor3n8_train.npy
/k4p8nor3n10_train.npy
/k4p10nor2n1_train.npy
/k4p10nor2n2_train.npy
/k4p10nor2n3_train.npy
/k4p10nor2n5_train.npy
/k4p10nor2n8_train.npy
/k4p10nor2n10_train.npy
/k4p10nor3n1_train.npy
/k4p10nor3n2_train.npy
/k4p10nor3n3_train.npy
/k4p10nor3n5_train.npy
/k4p10nor3n8_train.npy
/k4p10nor3n10_train.npy
/k1p8nor2n1_train_2d.npy
/k1p8nor2n2_train_2d.npy
/k1p8nor2n3_train_2d.npy
/k1p8nor2n5_train_2d.npy
/k1p8nor2n8_train_2d.npy
/k1p8nor2n10_train_2d.npy
/k1p8nor3n1_train_2d.npy
/k1p8nor3n2_train_2d.npy
/k1p8nor3n3_train_2d.npy
/k1p8nor3n5_train_2d.npy
/k1p8nor3n8_train_2d.npy
/k1p8nor3n10_train_2d.npy
/k1p10nor2n1_train_2d.npy
/k1p10nor2n2_train_2d.npy
/k1p10nor2n3_train_2d.npy
/k1p10nor2n5_train_2d.npy
/k1p10nor2n8_train_2d.npy
/k1p10nor2n10_train_2d.npy
/k1p10nor3n1_train_2d.npy
/k1p10nor3n2_train_2d.npy
/k1p10nor3n3_train_2d.npy
/k1p10nor3n5_train_2d.npy
/k1p10nor3n8_train_2d.npy
/k1p10nor3n10_train_2d.npy
/k2p8nor2n1_train_2d.npy
/k2p8nor2n2_train_2d.npy
/k2p8nor2n3_train_2d.npy
/k2p8nor2n5_train_2d.npy
/k2p8nor2n8_train_2d.npy
/k2p8nor2n10_train_2d.npy
/k2p8nor3n1_train_2d.npy
/k2p8nor3n2_train_2d.npy
/k2p8nor3n3_train_2d.npy
/k2p8nor3n5_train_2d.npy
/k2p8nor3n8_train_2d.npy
/k2p8nor3n10_train_2d.npy
/k2p10nor2n1_train_2d.npy
/k2p10nor2n2_train_2d.npy
/k2p10nor2n3_train_2d.npy
/k2p10nor2n5_train_2d.npy
/k2p10nor2n8_train_2d.npy
/k2p10nor2n10_train_2d.npy
/k2p10nor3n1_train_2d.npy
/k2p10nor3n2_train_2d.npy
/k2p10nor3n3_train_2d.npy
/k2p10nor3n5_train_2d.npy
/k2p10nor3n8_train_2d.npy
/k2p10nor3n10_train_2d.npy
/k3p8nor2n1_train_2d.npy
/k3p8nor2n2_train_2d.npy
/k3p8nor2n3_train_2d.npy
/k3p8nor2n5_train_2d.npy
/k3p8nor2n8_train_2d.npy
/k3p8nor2n10_train_2d.npy
/k3p8nor3n1_train_2d.npy
/k3p8nor3n2_train_2d.npy
/k3p8nor3n3_train_2d.npy
/k3p8nor3n5_train_2d.npy
/k3p8nor3n8_train_2d.npy
/k3p8nor3n10_train_2d.npy
/k3p10nor2n1_train_2d.npy
/k3p10nor2n2_train_2d.npy
/k3p10nor2n3_train_2d.npy
/k3p10nor2n5_train_2d.npy
/k3p10nor2n8_train_2d.npy
/k3p10nor2n10_train_2d.npy
/k3p10nor3n1_train_2d.npy
/k3p10nor3n2_train_2d.npy
/k3p10nor3n3_train_2d.npy
/k3p10nor3n5_train_2d.npy
/k3p10nor3n8_train_2d.npy
/k3p10nor3n10_train_2d.npy
/k4p8nor2n1_train_2d.npy
/k4p8nor2n2_train_2d.npy
/k4p8nor2n3_train_2d.npy
/k4p8nor2n5_train_2d.npy
/k4p8nor2n8_train_2d.npy
/k4p8nor2n10_train_2d.npy
/k4p8nor3n1_train_2d.npy
/k4p8nor3n2_train_2d.npy
/k4p8nor3n3_train_2d.npy
/k4p8nor3n5_train_2d.npy
/k4p8nor3n8_train_2d.npy
/k4p8nor3n10_train_2d.npy
/k4p10nor2n1_train_2d.npy
/k4p10nor2n2_train_2d.npy
/k4p10nor2n3_train_2d.npy
/k4p10nor2n5_train_2d.npy
/k4p10nor2n8_train_2d.npy
/k4p10nor2n10_train_2d.npy
/k4p10nor3n1_train_2d.npy
/k4p10nor3n2_train_2d.npy
/k4p10nor3n3_train_2d.npy
/k4p10nor3n5_train_2d.npy
/k4p10nor3n8_train_2d.npy
/k4p10nor3n10_train_2d.npy
