/ensemble_ensembl_libsvmf10p4e512
/ensemble_ensembl_libsvmf10p4e512.json
/ensemble_ensembl_no_lnclocatorv2_libsvmf10p4e512
/ensemble_ensembl_no_lnclocatorv2_libsvmf10p4e512.json
/ensemble_rnaatlas_libsvmf10p4e512
/ensemble_rnaatlas_libsvmf10p4e512.json
/ensemble_rnaatlas_no_lnclocatorv2_libsvmf10p4e512
/ensemble_rnaatlas_no_lnclocatorv2_libsvmf10p4e512.json
/ensemble_ensembl_no_lnclocatorv2_esvmf10p4e512.json
/ensemble_ensembl_no_lnclocatorv2_esvmf10p4e512
/ensemble_ensembl_esvmf10p4e512.json
/ensemble_ensembl_esvmf10p4e512
/ensemble_rnaatlas_esvmf10p4e512.json
/ensemble_rnaatlas_esvmf10p4e512
/ensemble_rnaatlas_no_lnclocatorv2_esvmf10p4e512.json
/ensemble_rnaatlas_no_lnclocatorv2_esvmf10p4e512
/ensemble_ensembl_svmf10p4e512.json
/ensemble_ensembl_svmf10p4e512
/ensemble_rnaatlas_svmf10p4e512.json
/ensemble_rnaatlas_svmf10p4e512
/ensemble_ensembl_no_lnclocatorv2_svmf10p4e512.json
/ensemble_ensembl_no_lnclocatorv2_svmf10p4e512
/ensemble_rnaatlas_no_lnclocatorv2_svmf10p4e512.json
/ensemble_rnaatlas_no_lnclocatorv2_svmf10p4e512
/top10_perf.csv
/svmf10p4e512_top10_perf.csv
/svmf10p4e512_top1_perf.csv
/svmf10p4e512_json_top1_perf.csv
