/DCC_lag2_svmf10p1e1.json
/DCC_lag2_svmf10p1e1
/DACC_lag1_svmf10p4e512.json
/DACC_lag1_svmf10p4e512
/Kmer_k4_svmf10p4e512.json
/Kmer_k4_svmf10p4e512
/SC-PseDNC-General_svmf10p4e512.json
/SC-PseDNC-General_svmf10p4e512
/DCC_lag2_svmf10p4e512.json
/DCC_lag2_svmf10p4e512
/DACC_lag3_svmf10p4e512.json
/DACC_lag3_svmf10p4e512
/Kmer_k2_svmf10p4e512.json
/Kmer_k2_svmf10p4e512
/Kmer_k3_svmf10p4e512.json
/Kmer_k3_svmf10p4e512
/PC-PseDNC-General_all_index_svmf10p4e512.json
/PC-PseDNC-General_all_index_svmf10p4e512
/DAC_lag2_svmf10p4e512.json
/DAC_lag2_svmf10p4e512
