/DCC_lag2_svmf10p1e1.json
/DCC_lag2_svmf10p1e1
/DACC_lag1_svmf10p4e512.json
/DACC_lag1_svmf10p4e512
/Kmer_k4_svmf10p4e512.json
/Kmer_k4_svmf10p4e512
/SC-PseDNC-General_svmf10p4e512.json
/SC-PseDNC-General_svmf10p4e512
/DCC_lag2_svmf10p4e512.json
/DCC_lag2_svmf10p4e512
/DACC_lag3_svmf10p4e512.json
/DACC_lag3_svmf10p4e512
/Kmer_k2_svmf10p4e512.json
/Kmer_k2_svmf10p4e512
/Kmer_k3_svmf10p4e512.json
/Kmer_k3_svmf10p4e512
/PC-PseDNC-General_all_index_svmf10p4e512.json
/PC-PseDNC-General_all_index_svmf10p4e512
/DAC_lag2_svmf10p4e512.json
/DAC_lag2_svmf10p4e512
/MAC_lag2_svmf10p4e512
/MAC_lag1_svmf10p4e512.json
/DACC_lag3_libsvmf10p4e512
/DCC_lag1_svmf10p4e512
/confusion_matrix.csv
/top1_perf.csv
/Kmer_k4_libsvmf10p4e512.json
/Kmer_k1_svmf10p4e512.json
/NMBAC_lag3_svmf10p4e512.json
/NMBAC_lag1_svmf10p4e512.json
/NMBAC_lag2_svmf10p4e512.json
/DACC_lag2_svmf10p4e512
/PC-PseDNC-General_svmf10p4e512
/SC-PseDNC-General_all_index_svmf10p4e512.json
/MAC_lag3_svmf10p4e512
/NMBAC_lag1_svmf10p4e512
/NMBAC_lag2_svmf10p4e512
/PC-PseDNC-General_svmf10p4e512.json
/DAC_lag3_svmf10p4e512
/SC-PseDNC-General_all_index_svmf10p4e512
/MAC_lag2_svmf10p4e512.json
/Kmer_k4_libsvmf10p4e512
/Kmer_k2_libsvmf10p4e512.json
/Kmer_k2_libsvmf10p4e512
/NMBAC_lag2_libsvmf10p4e512
/Kmer_k1_libsvmf10p4e512.json
/Kmer_k1_libsvmf10p4e512
/DCC_lag3_libsvmf10p4e512
/DCC_lag2_libsvmf10p4e512
/DCC_lag1_libsvmf10p4e512
/DAC_lag3_libsvmf10p4e512
/NMBAC_lag1_libsvmf10p4e512
/MAC_lag3_libsvmf10p4e512
/Kmer_k3_libsvmf10p4e512.json
/Kmer_k3_libsvmf10p4e512
/DCC_lag1_svmf10p4e512.json
/perf.csv
/top10_perf.csv
/DACC_lag1_libsvmf10p4e512
/Kmer_k1_svmf10p4e512
/NMBAC_lag3_svmf10p4e512
/DACC_lag2_svmf10p4e512.json
/DAC_lag3_svmf10p4e512.json
/MAC_lag3_svmf10p4e512.json
/MAC_lag1_svmf10p4e512
/DAC_lag1_svmf10p4e512.json
/DAC_lag1_svmf10p4e512
/Subsequence_k2_svmf10p4e512.json
/Subsequence_k2_svmf10p4e512
/DCC_lag3_svmf10p4e512.json
/DCC_lag3_svmf10p4e512
/NMBAC_lag3_libsvmf10p4e10
/NMBAC_lag3_libsvmf10p4e10.json
/NMBAC_lag3_libsvmf10p4e512.json
/NMBAC_lag3_libsvmf10p4e512
/DACC_lag3_libsvmf10p4e512.json
/MAC_lag2_libsvmf10p4e512
/SC-PseDNC-General_all_index_libsvmf10p4e512.json
/SC-PseDNC-General_all_index_libsvmf10p4e512
/NMBAC_lag2_libsvmf10p4e512.json
/DCC_lag3_libsvmf10p4e512.json
/DCC_lag2_libsvmf10p4e512.json
/DCC_lag1_libsvmf10p4e512.json
/PC-PseDNC-General_all_index_libsvmf10p4e512.json
/PC-PseDNC-General_all_index_libsvmf10p4e512
/PC-PseDNC-General_libsvmf10p4e512.json
/PC-PseDNC-General_libsvmf10p4e512
/DAC_lag3_libsvmf10p4e512.json
/NMBAC_lag1_libsvmf10p4e512.json
/SC-PseDNC-General_libsvmf10p4e512.json
/SC-PseDNC-General_libsvmf10p4e512
/MAC_lag3_libsvmf10p4e512.json
/DACC_lag1_libsvmf10p4e512.json
/MAC_lag2_libsvmf10p4e512.json
/MAC_lag1_libsvmf10p4e512.json
/MAC_lag1_libsvmf10p4e512
/DACC_lag2_libsvmf10p4e512.json
/DACC_lag2_libsvmf10p4e512
/DAC_lag2_libsvmf10p4e512.json
/DAC_lag2_libsvmf10p4e512
/DAC_lag1_libsvmf10p4e512.json
/DAC_lag1_libsvmf10p4e512
/Mismatch_k4_m3_libsvmf10p4e512.json
/Mismatch_k4_m3_libsvmf10p4e512
/top1_mc.csv
/top1andtop10_perf.csv
/Mismatch_k3_m2_svmf10p4e512.json
/Mismatch_k3_m2_svmf10p4e512
/Mismatch_k4_m3_svmf10p4e512.json
/Mismatch_k4_m3_svmf10p4e512
/Mismatch_k4_m2_svmf10p4e512.json
/Mismatch_k4_m2_svmf10p4e512
/Mismatch_k2_m1_svmf10p4e512.json
/Mismatch_k2_m1_svmf10p4e512
/Mismatch_k3_m1_svmf10p4e512.json
/Mismatch_k3_m1_svmf10p4e512
/Mismatch_k4_m1_svmf10p4e512.json
/Mismatch_k4_m1_svmf10p4e512
/Subsequence_k1_svmf10p4e512.json
/Subsequence_k1_svmf10p4e512
/Kmer_k4_esvmf10p4e10s500.json
/Kmer_k4_esvmf10p4e10s500
