/output.Ensembl_mRNA.withAdjPval
/mRNA230719__DACC_lag2.csv
/mRNA230719__Kmer_k3.csv
/mRNA230719__SC-PseDNC-General_all_index.csv
/mRNA_aucg.fasta
/mRNA.csv
/mRNA.fa
/mrna_enst2rbp_eclip_matrix.csv
/mRNA230719___Kmer_k3__DACC_lag2__SC-PseDNC-General_all_index.csv
