/nuc_lncRNA__cyto_mRNA_train_svmf10p4e512.json
/nuc_lncRNA__cyto_mRNA_train_svmf10p4e512
/nuc_lncRNA__cyto_lncRNA__cyto_mRNA_train_svmf10p4e512.json
/nuc_lncRNA__cyto_lncRNA__cyto_mRNA_train_svmf10p4e512
/nuc_mRNA__cyto_mRNA_train_svmf10p4e512.json
/nuc_mRNA__cyto_mRNA_train_svmf10p4e512
/nuc_lncRNA__cyto_lncRNA__nuc_mRNA__cyto_mRNA_train_svmf10p4e512.json
/nuc_lncRNA__cyto_lncRNA__nuc_mRNA__cyto_mRNA_train_svmf10p4e512
/nuc_lncRNA__cyto_lncRNA_train_svmf10p4e512
/nuc_lncRNA__cyto_lncRNA_train_svmf10p4e512.json
