/eclip__y.npy
/eclip__enst.npy
/noneclip__y.npy
/noneclip__enst.npy
/eclip_merge__RBPpred__RBPPWM_10-3_or.npy
/noneclip_merge__RBPpred__RBPPWM_10-3_or.npy
/ensembl__enst.npy
/ensembl__merge__RBPpred__RBPPWM_10-3_or.npy
/ensembl__y.npy
/ensembl__merge__RBPpred__RBPPWM_10-4_or.npy
/ensembl__merge__seq__RBPpred__RBPPWM_10-3_or.npy
