/cdhit80_data_seq_loc75_aucg_DAC_l5.csv
/cdhit80_data_seq_loc75_aucg_DAC_l10.csv
/cdhit80_data_seq_loc75_aucg_DAC.csv
/cdhit80_data_seq_loc75_aucg_DCC.csv
/cdhit80_data_seq_loc75_aucg_MAC.csv
/cdhit80_data_seq_loc75_aucg_mismatch_k2m1.csv
/cdhit80_data_seq_loc75_aucg_mismatch_k3m1.csv
/cdhit80_data_seq_loc75_aucg_mismatch_k3m2.csv
/cdhit80_data_seq_loc75_aucg_mismatch_k4m1.csv
/cdhit80_data_seq_loc75_aucg_mismatch_k4m2.csv
/cdhit80_data_seq_loc75_aucg_mismatch_k4m3.csv
/cdhit80_data_seq_loc75_aucg_mismatch_k5m1.csv
/cdhit80_data_seq_loc75_aucg_NMBAC.csv
/cdhit80_data_seq_loc75_aucg_PCPseDNC.csv
/cdhit80_data_seq_loc75_aucg_SCPseDNC.csv
